.ProjectItem
{
    display:flex;
    justify-content: space-between;
    height: 135px;
    flex-wrap: wrap;
    margin-bottom:10px;
    border:1px solid rgba(0, 0, 0, 0.125);
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}
.projectInfo{
    flex-grow: 1;
}
.projectInfo h2
{
    margin:0;
}
.projectInfo span
{
    margin-top: 5px;
    display: block;
}
.ProjectOperations
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ProjectOperations div{
   
    border:1px solid black;
    border-radius: 5px;
    padding:10px 0px;
    text-align: center;
}
.ProjectOperations a
{
    text-decoration: none;
    color:#fff;
    display: inline-block;
    cursor: pointer;
}
.Success{
    background-color: #3498db;
    opacity: 0.9;
}
.Danger{
    background-color: #e74c3c;
    opacity: 0.9;
}

@media(max-width:920px)
{
    .ProjectItem{
        padding:3px;
    }
    .ProjectOperations{
        flex-flow: row;
    }
}