.createProjectButton a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 5px;
}
.Success{
    background-color: #3498db;
    border-radius: 5px;
    opacity: 0.9;
    margin-bottom: 5px;
}
.Danger{
    background-color: #e74c3c;
    border-radius: 5px;
    opacity: 0.9;
    margin-bottom: 5px;
}
.Success a,.Danger a
{
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    text-decoration: none;
}